body {
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
}

.body_content h2 {
    font-size: 28px;
}

p {
    font-weight: 800;
}

.body_content p, ul{
    font-weight: 800;
    color: black;
}

.hero-section, .features-section, .cta-section, .body_content, .about-section , .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body_content {
    align-items: stretch;
    min-height: 90vh;
    margin: 20px;
    gap: 20px;
}

.feature {
    height: 85%;
    border: 0;
    padding: 40px;
    position: relative;
}

.feature::before {
    content: '';
    position: absolute;
    top: 10px; 
    right: 0;
    bottom: 10px; 
    left: 0;
    height: calc(100% - 20px); 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    z-index: 1;
}

.feature * {
    position: relative;
    z-index: 2; 
}

.features-section, .about-section {
    border-radius: 20px;
}

.features-section {
    background-image: url("./images/flourish.png");
    background-color: #eeaa2d;
    display: grid;
    flex-grow: 5;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.about-section {
    flex: 3;
    align-items: normal;
    background-color: #5780a7; 
    position: relative; 
}

.about-section::before { 
    content: ''; 
    position: absolute; 
    top: 20px; 
    right: 20px;
    bottom: 20px; 
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1;
    border-radius: 20px;
}

.about-section > * {
    position: relative;
    z-index: 2;
}

.company-image , .hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section {
    flex: 1;
    background-image: url("./images/background-extra-small.jpg");
    font-size: 1.5em;
    min-height: 150px;
    padding: 0px;
}

.hero-section h1, .cta-section h2 {
    color: bisque;
}

.svg_img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px; 
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    transition: all 0.3s ease; 
}

button:hover {
    background-color: #d46b15; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    transform: scale(1.05); 
}

.cta-section {
    background-color: rgb(47 43 40);
}

a {
    margin-left: 5px;
    text-decoration: none; 
    color: black; 
    background-color: #e7f0fe;
    padding: 8px 16px; 
    border: 2px solid white; 
    border-radius: 15px; 
    transition: all 0.3s ease-in-out; 
    font-weight: 500; 
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a:hover, a:focus {
    color: black; 
    background-color: #5780a7; 
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

/* Media frames for header background images */

@media (min-width: 640px) {
    .hero-section {
        background-image: url("./images/background-small.jpg");
    }
}

@media (min-width: 768px) {
    .hero-section {
        background-image: url("./images/background-medium.jpg");
    }
}

@media (min-width: 1024px) {
    .hero-section {
        background-image: url("./images/background-large.jpg");
    }
}

@media (min-width: 1920px) {
    .hero-section {
        background-image: url("./images/background-extra-large.jpg");
    }
}

/* Media frames for About section background images */

.company-image {
    background-image: url('./images/image-small.png');
    background-size: contain; 
    height: 300px; 
}

@media (min-width: 180px) {
    .company-image {
        background-image: url('./images/image-medium.png');
    }
}

@media (min-width: 320px) {
    .company-image {
        background-image: url('./images/image-large.png');
    }
}

@media (min-width: 640px) {
    .company-image {
        background-image: url('./images/image-extra-large.png');
    }
}

/* Media frames to make the page mobile responsive */

@media (max-width: 780px) {
    .features-section {
        grid-template-columns: 1fr;
    }
    .svg_img {
        display: none; 
    }
}

/* High-Res Breakpoint */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (           min-resolution: 192dpi),
only screen and (            min-resolution: 2dppx){
  .company-image {
    background-image: url('./images/high-resolution-image.jpeg');
  }
}
