body {
    font-family: 'Poppins', sans-serif;
}

.body_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-height: 90vh;
    margin: 20px;
    gap: 20px;
}

.body_content h2 {
    font-size: 28px;
}

p {
    font-weight: 800;
}

.body_content p, ul{
    font-weight: 800;
    color: black;
}

.hero-section, .features-section, .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%; /* or you could set a specific height */
    border: 0;
    padding: 40px;
    position: relative;
}

.feature::before {
    content: '';
    position: absolute;
    top: 10px; /* Half of the subtracted height to center the overlay */
    right: 0;
    bottom: 10px; /* Half of the subtracted height to center the overlay */
    left: 0;
    height: calc(100% - 20px); /* Full height of the parent minus 20px */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    z-index: 1;
}

.feature * {
    position: relative;
    z-index: 2; /* Ensures the content is above the overlay */
}

.features-section, .about-section {
    border-radius: 20px;
}

.features-section {
    background-image: url("/images/flourish.png");
    background-color: #eeaa2d;
    display: grid;
    flex-grow: 5;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.about-section {
    flex: 3;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */ 
    background-color: #5780a7; /* Darker shade of green on hover */
    position: relative; /* Context for absolute positioning */
}

.about-section::before { /* Pseudo-element for the overlay */
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position over the .about-section */
    top: 20px; /* 20px from the top of the container */
    right: 20px; /* 20px from the right of the container */
    bottom: 20px; /* 20px from the bottom of the container */
    left: 20px; /* 20px from the left of the container */
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the .about-section's background */
    border-radius: 20px;
}

/* Ensure the content is above the overlay */
.about-section > * {
    position: relative;
    z-index: 2;
}

.hero-section {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/images/background-extra-small.jpg");
    font-size: 1.5em;
    min-height: 150px;
    padding: 0px;
}

.hero-section h1, .cta-section h2 {
    color: beige;
}

.svg_img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px; /* Positions the image 20px from the left of its positioned container */
}

button {
    background-color: #000000; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #d46b15; /* Darker shade of green on hover */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Adds a shadow effect */
    transform: scale(1.05); /* Slightly increases the size */
}

.cta-section {
    background-color: rgb(47 43 40);
}

/* Link Styles */
a {
    margin-left: 5px;
    text-decoration: none; /* Remove the underline */
    color: black; /* Set your primary brand color or any color you like */
    background-color: #e7f0fe; /* Optional: Add a background color */
    padding: 8px 16px; /* Add some padding around the text */
    border: 2px solid white; /* Add a border with a color that matches the text */
    border-radius: 15px; /* Round the corners */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    font-weight: 500; /* Optional: Set a font weight */
    display: inline-block; /* Allows padding and border to take effect properly */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
}

/* Link Hover and Focus Styles */
a:hover, a:focus {
    color: black; /* Darken the color a bit when hovered/focused */
    background-color: #5780a7; /* Optional: Change the background color slightly */
    text-decoration: none; /* Ensure the underline doesn't come back */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow for a "lifting" effect */
    transform: translateY(-2px); /* Move the link up slightly to mimic a button press */
}



@media (min-width: 640px) {
    .hero-section {
        background-image: url("/images/background-small.jpg");
    }
}

@media (min-width: 768px) {
    .hero-section {
        background-image: url("/images/background-medium.jpg");
    }
}

@media (min-width: 1024px) {
    .hero-section {
        background-image: url("/images/background-large.jpg");
    }
}

@media (min-width: 1920px) {
    .hero-section {
        background-image: url("/images/background-extra-large.jpg");
    }
}

/* Set to one column layout on mobile*/
@media (max-width: 780px) {
    .features-section {
        /* Set to one column layout */
        grid-template-columns: 1fr;
    }
    .svg_img {
        display: none; /* This will hide the logo */
    }
}

/* Images */
/* Default Image */
/* Images */
/* Default Image */
.company-image {
    background-image: url('/images/image-small.png');
    background-position: center; /* Centers the image in the div */
    background-size: contain; /* Maintain original image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 300px; /* Set appropriate height, adjust as needed */
}

/* Medium and larger images for wider viewports */
@media (min-width: 180px) {
    .company-image {
        background-image: url('/images/image-medium.png');
    }
}

@media (min-width: 320px) {
    .company-image {
        background-image: url('/images/image-large.png');
    }
}

@media (min-width: 640px) {
    .company-image {
        background-image: url('/images/image-extra-large.png');
    }
}


/* Base styles */
.image {
    background-image: url('image-standard-resolution.png');
    background-size: cover;
  }
  
  /* Retina displays */
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    /* Replace with higher-resolution image */
    .image {
      background-image: url('image-high-resolution.png');
    }
  }
  